.gallery-section {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  padding: 0.5rem;
  gap: 0.5rem;

  .image-item {
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .i1 {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .i2 {
    grid-column: 3/6;
    grid-row: 1/4;
  }
  .i3 {
    grid-column: 6/7;
    grid-row: 1/3;
  }
  .i4 {
    grid-column: 7/9;
    grid-row: 1/3;
  }
  .i5 {
    grid-column: 1/3;
    grid-row: 3/6;
  }
  .i6 {
    grid-column: 3/5;
    grid-row: 4/6;
  }
  .i7 {
    grid-column: 5/6;
    grid-row: 4/5;
  }
  .i8 {
    grid-column: 6/8;
    grid-row: 3/5;
  }
  .i9 {
    grid-column: 8/9;
    grid-row: 3/6;
  }
  .i10 {
    grid-column: 1/2;
    grid-row: 6/8;
  }
  .i11 {
    grid-column: 2/4;
    grid-row: 6/8;
  }
  .i12 {
    grid-column: 4/5;
    grid-row: 6/8;
  }
  .i13 {
    grid-column: 5/8;
    grid-row: 5/8;
  }
  .i14 {
    grid-column: 8/9;
    grid-row: 6/8;
  }
}
