.home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 6rem;

  .home-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 2rem;

    .card-image {
      grid-column: 1/-1;
      width: 100%;
      margin-bottom: -2rem;
    }
    .home-name {
      justify-self: center;
      grid-column: 1/-1;
      color: var(--color-grey-light-1);
      background-color: var(--secondary-color);
      padding: 1.6rem 2rem;
      translate: 0 -50%;
    }
    li {
      margin: 1rem 2rem;
      list-style: none;
      display: flex;
      align-items: center;
      justify-self: center;
      gap: 1rem;
      svg {
        width: 2.8rem;
        height: 2.8rem;
        stroke-width: 1px;
        color: var(--primary-color);
      }
      span {
        font-size: 1.3rem;
        color: black;
      }
    }
    button {
      grid-column: 1/-1;
    }
  }
}
