.home-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  column-gap: 3rem;
  row-gap: 7rem;

  .card {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;

    .image-item {
      width: 100%;
    }
    .title {
      background-color: var(--secondary-color);
      color: var(--color-grey-light-1);
      margin: 0 auto;
      padding: 1.6rem 2.5rem;
      margin-top: -1rem;
      translate: 0 -50%;
      font-size: 1.6rem;
      font-weight: 400;
      text-transform: capitalize;
    }
    .btn {
      /* font-size: 1.3rem; */
    }
    .wish-list {
      cursor: pointer;
      background-color: rgb(255, 255, 255);
      position: absolute;
      top: 1rem;
      right: 1rem;
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      .iconify {
        width: 60%;
        height: 60%;
        color: var(--primary-color);
      }
    }
  }
}

.feature {
  margin-bottom: 4rem;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2.4rem;

  .item {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    .iconify {
      grid-row: 1/3;
      width: 3rem;
      height: 3rem;
      color: var(--primary-color);
    }
    span {
      display: inline-block;
      text-transform: capitalize;
      font-family: var(--primary-font);
      font-weight: 300;
      font-size: 1.3rem;
      color: var(--color-grey-light-3);
    }
  }

  .area {
    span {
      text-transform: lowercase;
    }
  }
}
