.side-bar {
  background-color: var(--primary-color);
  padding: 1.6rem;
  display: flex;
  justify-content: center;
  position: static;
}

/* button */
.menu {
  width: 5rem;
  height: 5rem;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  .line {
    width: 4.8rem;
    height: 0.15rem;
    background-color: var(--color-grey-light-1);
    position: relative;
    border-radius: 1rem;

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 0.18rem;
      background-color: var(--color-grey-light-1);
      border-radius: inherit;
      transition: all 0.3s ease;
    }
    &::after {
      top: 1.3rem;
    }
    &::before {
      top: -1.3rem;
    }
  }
}
.menu:hover .line {
  &::after {
    top: 1.5rem;
  }
  &::before {
    top: -1.5rem;
  }
}

@media only screen and (max-width: 750px) {
  .side-bar {
    /* justify-content: end; */
    align-items: center;
    padding: 1.6rem;
    .menu {
      margin-left: auto;
    }
  }
}

.list {
  position: absolute;
  background-color: var(--color-grey-light-1);
  display: block;
  z-index: 99;
  height: 100vh;
  width: 0;
  inset: 0 0 0 7rem;
  overflow: hidden;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.5rem;

  .my-web-logo:link,
  .my-web-logo:visited {
    align-items: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8rem auto;
    width: 60%;
    img {
      width: 100%;
    }
  }

  .anch-item:link,
  .anch-item:visited {
    color: var(--primary-color);
    display: block;
    padding: 2.4rem 4rem;
    text-align: start;
    font-size: 1.6rem;
    text-transform: uppercase;
    transition: all 0.3s ease;

    background-image: linear-gradient(
      120deg,
      var(--color-grey-light-1) 50%,
      var(--primary-color) 50%
    );
    background-size: 220%;

    &:hover,
    &:active {
      background-position: 100%;
      background-color: var(--color-grey-light-1);
      color: var(--color-grey-light-1);
    }
  }
}

.open .list {
  width: 35rem;
}
