.story-section {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(55rem, 1fr));
  grid-auto-rows: 1fr;

  .story-image {
    background-image: linear-gradient(#ff2600), url(../../../media/img/back.jpg);
    background-size: cover;
    background-position: center center;
    background-blend-mode: screen;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;

    img {
      width: 100%;
    }
    .img-item-1 {
      grid-column: 2/6;
      grid-row: 2/6;
      @media only screen and (max-width: 1170px) {
        width: 80%;
      }
    }
    .img-item-2 {
      width: 110%;
      grid-column: 4/7;
      grid-row: 4/7;

      @media only screen and (max-width: 1170px) {
        width: 80%;
        grid-column: 4/7;
        grid-row: 4/7;
      }
    }
  }
  .story-block {
    display: flex;
    justify-content: center;
    padding: 0 8vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2.8rem;
  }
}
