.story-section {
  grid-column: 1/-1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .story-image {
    background-color: rgb(255, 211, 129);
  }
  .story-block {
    padding: 12rem 8vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 3.4rem;
  }
}
