.btn {
  font-size: 1.3rem;
  text-transform: uppercase;
  background-color: var(--primary-color);
  color: var(--color-grey-light-1);
  border: none;
  padding: 1.6rem 3rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 200;
  word-spacing: 4px;
  letter-spacing: 2px;

  &:hover {
    background-color: var(--primary-dark-color);
  }
}
