.main-content {
  background-color: var(--color-grey-light-1);
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;

  row-gap: 20rem;
  grid-template-columns:
    minmax(10rem, 1fr)
    repeat(8, minmax(min-content, 13rem))
    minmax(10rem, 1fr);
  grid-template-rows: repeat(6, min-content);
}

.header-section {
  grid-column: 1/-1;
}
.fetured-section {
  grid-column: 2/10;
  padding: 10rem 0;
}
.story-section {
  padding: 10rem 0;
  grid-column: 1/-1;
}
.home-section {
  padding: 3rem 0;
  grid-column: 2/10;
}
.gallery-section {
  grid-column: 1/-1;
}
.footer-section {
  background-color: var(--secondary-color);
  grid-column: 1/-1;
  margin-top: -20rem;
}
